mixin meta()
	.meta
		.meta-item.meta-item--optimise
			.meta-item__title Оптимизировано
			.meta-item__os
		.meta-item.meta-item--social
			.meta-item__title Понравилось видео? 
				br
				| Поделись с друзьями
			.meta-item__social