mixin menu()
	nav.menu
		a(href="#" title="").menu__item.menu__item--favorite В избранное
		.menu__item.menu__item--category
			a(href="#" title="") Азиатки
			a(href="#" title="") Анальный секс
			a(href="#" title="") Большие сиськи
			a(href="#" title="") Большой член
			a(href="#" title="") Блондинки
			a(href="#" title="") Брюнетки
			a(href="#" title="") В душе
			a(href="#" title="") Латинк
			a(href="#" title="") Лесбиянки
			a(href="#" title="") Мастурбация
			a(href="#" title="") Межрассовое
			a(href="#" title="") Минет
			a(href="#" title="") Молоденькие
			a(href="#" title="") На публике
			a(href="#" title="") Писающие
			a(href="#" title="") Порнозвезды
			a(href="#" title="") Волосатые
		a(href="#" title="").menu__item.menu__item--date По дате
		a(href="#" title="").menu__item.menu__item--best По просмотрам