mixin footer(data)
	footer.footer
		.footer__text В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')