include ../head/head
include ../header/header
include ../menu/menu
include ../right/right
include ../player/player
include ../simillar-videos/simillar-videos
include ../meta/meta
include ../footer/footer