mixin right()
	.right
		+player()
		.video-meta
			.video-meta__item.video-meta__item--add Добавить в
			.video-meta__item.video-meta__item--views 1895
			.video-meta__item.video-meta__item--share Поделиться
			.video-meta__item.video-meta__item--likes 698
			.video-meta__item.video-meta__item--any Еще
		+simillar-videos()
		+meta()